/* Estilo base para los divs dentro de .controles */
.controles {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* Espacio entre los elementos */
    max-width: 100%;
    padding: 10px;
}

/* Estructura de cada grupo de controles */
.controles div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/* Estilo para las etiquetas */
.controles label {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

/* Estilo para los inputs (texto y fecha) */
.controles input[type="text"],
.controles input[type="date"],
.controles input[type="number"],
.controles input[type="email"],
.controles input[type="password"],
.controles input[type="tel"],
.controles input[type="url"],
.controles input[type="file"],
.controles input[type="datetime-local"],
.controles input[type="month"],
.controles input[type="week"],
.controles input[type="time"],
.controles select,
.controles textarea {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: #f8f9fa;
}

/* Efecto al hacer focus en los inputs */
.controles input[type="text"]:focus,
.controles input[type="date"]:focus,
.controles input[type="number"]:focus,
.controles input[type="email"]:focus,
.controles input[type="password"]:focus,
.controles input[type="tel"]:focus,
.controles input[type="url"]:focus,
.controles input[type="file"]:focus,
.controles input[type="datetime-local"]:focus,
.controles input[type="month"]:focus,
.controles input[type="week"]:focus,
.controles input[type="time"]:focus,
.controles select:focus,
.controles textarea:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

/* Clases para limitar el ancho de los divs dentro de .controles */
.controles .col-1 {
    flex: 0 0 calc(8.33% - 20px);
    max-width: 8.33%;
}

.controles .col-2 {
    flex: 0 0 calc(16.66% - 20px);
    max-width: 16.66%;
}

.controles .col-3 {
    flex: 0 0 calc(25% - 20px);
    max-width: 25%;
}

.controles .col-4 {
    flex: 0 0 calc(33.33% - 20px);
    max-width: 33.33%;
}

.controles .col-5 {
    flex: 0 0 calc(41.66% - 20px);
    max-width: 41.66%;
}

.controles .col-6 {
    flex: 0 0 calc(50% - 20px);
    max-width: 50%;
}

.controles .col-7 {
    flex: 0 0 calc(58.33% - 20px);
    max-width: 58.33%;
}

.controles .col-8 {
    flex: 0 0 calc(66.66% - 20px);
    max-width: 66.66%;
}

.controles .col-9 {
    flex: 0 0 calc(75% - 20px);
    max-width: 75%;
}

.controles .col-10 {
    flex: 0 0 calc(83.33% - 20px);
    max-width: 83.33%;
}

.controles .col-11 {
    flex: 0 0 calc(91.66% - 20px);
    max-width: 91.66%;
}

.controles .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* Responsive: Ajuste de columnas en pantallas medianas */
@media (min-width: 600px) {
    .controles {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
}

/* Responsive: Ajuste de columnas en pantallas grandes */
@media (min-width: 900px) {
    .controles div {
        flex: 1 1 calc(33.33% - 20px);
    }
}

/* Responsive: Ajuste de columnas en pantallas muy grandes */
@media (min-width: 1200px) {
    .controles div {
        flex: 1 1 calc(25% - 20px);
    }
}


.sapUiResponsiveMargin {
    width: auto !important;
}

/* Estilos generales para la tabla */
.table-custom {
    /* width: 100%;
    border-collapse: collapse;
    margin-top: 20px; */
    border-radius: 8px;
    overflow: hidden !important;
}

/* Clase para alinear los controles a la izquierda */
.controles .align-left {
    align-items: start;
}

/* Clase para alinear todo el contenido dentro de .controles a la derecha */
.controles .align-right {
    align-items: end;
}

.customPanel {
    display: flex !important;
    flex-direction: column !important;
    gap: 15px;
    /* Espacio entre los elementos */
    max-width: 100% !important;
    padding: 10px !important;
}

.customPanel div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.customPanel .col-1 {
    flex: 0 0 calc(8.33% - 20px);
    max-width: 8.33%;
}

.customPanel .col-2 {
    flex: 0 0 calc(16.66% - 20px);
    max-width: 16.66%;
}

.customPanel .col-3 {
    flex: 0 0 calc(25% - 20px);
    max-width: 25%;
}

.customPanel .col-4 {
    flex: 0 0 calc(33.33% - 20px);
    max-width: 33.33%;
}

.customPanel .col-5 {
    flex: 0 0 calc(41.66% - 20px);
    max-width: 41.66%;
}

.customPanel .col-6 {
    flex: 0 0 calc(50% - 20px);
    max-width: 50%;
}

.customPanel .col-7 {
    flex: 0 0 calc(58.33% - 20px);
    max-width: 58.33%;
}

.customPanel .col-8 {
    flex: 0 0 calc(66.66% - 20px);
    max-width: 66.66%;
}

.customPanel .col-9 {
    flex: 0 0 calc(75% - 20px);
    max-width: 75%;
}

.customPanel .col-10 {
    flex: 0 0 calc(83.33% - 20px);
    max-width: 83.33%;
}

.customPanel .col-11 {
    flex: 0 0 calc(91.66% - 20px);
    max-width: 91.66%;
}

.customPanel .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}


.centered-table-container {
    display: flex;
    justify-content: center;
    height: 100%;
    background: #f8f9fa;
    border-radius: 5px;
    padding-top: 10px;
}

.centered-table-container img {
    width: 200px;
    padding-bottom: 25px;
}

.centered-table-container span {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    width: 100%;

    font-size: 20px;
    color: #333;
}

/****************************************************/
/* Estilos para botones */
.btn {
    width: 100%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    margin: 19px 15px;
    line-height: 1.5;
    border-radius: 50px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 5px 5px 5px 5px;
}

/* Botones primarios */
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #004085;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #0056b3;
    border-color: #004085;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    opacity: 0.65;
    cursor: not-allowed;
}

/* Botones secundarios */
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-secondary:focus,
.btn-secondary.focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: 0 0 5px rgba(108, 117, 125, 0.5);
}

.btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    opacity: 0.65;
    cursor: not-allowed;
}

/* Botones de éxito */
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.btn-success:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    opacity: 0.65;
    cursor: not-allowed;
}

/* Botones de peligro */
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-danger:focus,
.btn-danger.focus {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}

.btn-danger:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    opacity: 0.65;
    cursor: not-allowed;
}

/* Botones de advertencia */
.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-warning:focus,
.btn-warning.focus {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
    box-shadow: 0 0 5px rgba(255, 193, 7, 0.5);
}

.btn-warning:disabled {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    opacity: 0.65;
    cursor: not-allowed;
}

/* Botones de información */
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.btn-info:focus,
.btn-info.focus {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
    box-shadow: 0 0 5px rgba(23, 162, 184, 0.5);
}

.btn-info:disabled {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    opacity: 0.65;
    cursor: not-allowed;
}

/* Botones de luz */
.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.btn-light:focus,
.btn-light.focus {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    box-shadow: 0 0 5px rgba(248, 249, 250, 0.5);
}

.btn-light:disabled {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    opacity: 0.65;
    cursor: not-allowed;
}

/* Botones oscuros */
.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.btn-dark:focus,
.btn-dark.focus {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    box-shadow: 0 0 5px rgba(52, 58, 64, 0.5);
}

.btn-dark:disabled {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    opacity: 0.65;
    cursor: not-allowed;
}